{% extends 'base.html' %} 

{% load static %} 
<!-- install and load django-widget-tweaks: pip install django-widget-tweaks  -->
{% load widget_tweaks %}


{% block content %}

{% comment %} Registration form template {% endcomment %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h4 class="mb-0">Login to your account</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        <!-- AuthenticationForm errors are often non-field errors. -->
                        <!-- NON FIELD ERRORS (wrong credentials) -->
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        
                        <!-- username -->
                        <div class="mb-3">
                            <label class="form-label">{{ form.username.label }}</label>
                            {{ form.username|add_class:"form-control" }}
                            {% if form.username.errors %}
                                <div class="text-danger small">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <!-- password -->
                        <div class="mb-3">
                            <label class="form-label">{{ form.password.label }}</label>
                            {{ form.password|add_class:"form-control" }}
                            {% if form.password.errors %}
                                <div class="text-danger small">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}