{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="container mt-4">
    <h2 class="display-5">Edit/Modify this Course</h2>
    <p class="lead fst-italic">Fill in the details below to add a new course.</p>
    <hr class="my-4" />
    <form action="{% url 'edit_course' course.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="course_name" class="form-label">Course Name</label>
                    {{ course_form.course_name }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="duration_in_weeks" class="form-label">Duration (in weeks)</label>
                    {{ course_form.duration_in_weeks }}
                </div>
                <div class="mb-3 col-md-6">
                    <label for="price" class="form-label">Course Price</label>
                    {{ course_form.price }}
                </div>
                <div class="mb-3 col-md-6">
                    <div class="d-flex align-items-center">
                        {% if course.course_image %}
                            <img src="{{ course.course_image.url }}" 
                                alt="{{ course.course_name }}" 
                                width="70" height="70"
                                class="img-thumbnail me-1">
                        {% else %}
                            <img src="{% static 'images/default_course.png' %}" 
                                alt="Default Image" 
                                width="70" height="70"
                                class="img-thumbnail me-1">
                        {% endif %}
                        {{ course_form.course_image }}
                    </div>
                </div>
                <div class="mb-3 col">
                    <label for="description" class="form-label">Course Description</label>
                    {{ course_form.description }}
                </div>
        </div>
        <div class="d-flex gap-2 mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'course_list' %}" class="btn btn-dark">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}