{% extends 'base.html' %} 

{% load static %} 

{% block content %}
<div class="container mt-4">
	<div class="jumbotron">
		<h2 class="display-5">The Student list!</h2>
		<p class="lead fst-italic">The best on-demand programming courses.</p>
		<hr class="my-4" />
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr class="table-primary">
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Enrolled Course</th>
					<th scope="col">Email</th>
					<th scope="col">Trainer Name</th>
					<th scope="col">Active?</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for student in students %}
				<tr>
					<th scope="row">{{ forloop.counter }}</th>
					<td>
						{% if student.profile_picture %}
						<img
							src="{{ student.profile_picture.url }}"
							alt=""
							width="50"
							height="50"
							class="me-2"
						/>
						{% else %}
						<img
							src="{% static 'images/default_profile.png' %}"
							alt=""
							width="50"
							height="50"
							class="me-2"
						/>
						{% endif %}
						<span>{{ student.full_name }} </span>
					</td>
					<td>{{ student.enrolled_course }}</td>
					<td>{{ student.email }}</td>

                    <td>{{ student.trainer.full_name }}</td>

                    {% if student.is_active %}
					    <td class="text-info">Yes</td>
                    {% else %}
                        <td class="text-danger">No</td>
                    {% endif %}

					<td>
						<div class="d-flex gap-2">
							<a href=""
								data-bs-toggle="tooltip" data-bs-placement="top"
								data-bs-custom-class="custom-tooltip"
								data-bs-title="See Details"
							>
								<i class='fa fa-eye text-success'></i>
							</a>
							<a href=""
								data-bs-toggle="tooltip" data-bs-placement="top"
								data-bs-custom-class="custom-tooltip"
								data-bs-title="Edit Student"
							>
								<i class='fa fa-edit text-primary'></i>
							</a>
							<a href=""
								data-bs-toggle="tooltip" data-bs-placement="top"
								data-bs-custom-class="custom-tooltip"
								data-bs-title="Delete Student"
							>
								<i class='fa fa-trash text-danger'></i>
							</a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
