html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

main {
    min-height: 100%;
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.8);  /* darker backdrop */
}

.custom-modal-bg {
    background-color: #593196; /* light red */
}

.delete-confirm-box {
    background: #fff0f0;
    border: 1px solid #ffcccc;
    /* padding: 6px; */
    border-radius: 4px;
    top: 110%; 
    left: 60%;
    transform: translateX(-60%); 
    z-index: 20;
    width: 130px;
}

